
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Satisfy', cursive;*/
/*font-family: 'Handlee', cursive;*/


body {
  background: #e5ffff;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  min-width: 800px;
}

h1 {
  font-size: 50px;
}

/* Nav bar - positioned at the top of the screen */
nav {
  background-color: #333;
  border-bottom: solid 5px #222;
  position: fixed;
  top: 0;
  left: 0;
  height: 35px;
  width: 100%;
}

/* Brand Icon */
nav .brand {
  font-size: 24px;
  padding-top: 5px;
  padding-left: 20px;
}

nav span {

}

.nav-links {
  padding-top: 5px;
  padding-right: 20px;
  font-size: 20px;
  text-decoration: none;
  float: right;
  color: #888;
}

/* Link <a> items */
a, a:visited {
  color: #ddd;
}

/* Sets up the sections of the page to
equal the screen height */
section {
  margin-top: 45px;
  /* Puts <a> tags below nav */
  height: 100vh;
}

/* Main content of the first screen */
.jumbotron {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  border: solid 2px #000;
  border-radius: 5%;
}

.jumbotron h1 {
  font-family: 'Satisfy', cursive;
  font-weight: 200;
}
