body {
  background: #e5ffff;
  position: relative;
  /* for scrollspy */
}

/* Sets up the sections of the page to
equal the screen height */

.page-block {
  padding-top: 5vh;
  /* Puts <a> tags below nav */
  height: 100vh;
}
