
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Satisfy', cursive;*/
/*font-family: 'Handlee', cursive;*/


body {
  background-color: #e5ffff;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  margin-top: 35px;
  margin-bottom: 0px;
  min-width: 800px;
}

/* Global styles */
h1 {
  font-size: 50px;
  margin-top: .25em;
  margin-bottom: .1em;
}

/* Nav bar - positioned at the top of the screen */
nav {
  background-color: #333;
  border-bottom: solid 5px #222;
  position: fixed;
  top: 0;
  left: 0;
  height: 35px;
  width: 100%;
}

/* Brand Icon */
nav .brand {
  font-size: 24px;
  padding-top: 5px;
  padding-left: 20px;
}

.nav-links {
  padding-top: 5px;
  padding-right: 20px;
  font-size: 20px;
  text-decoration: none;
  float: right;
  color: #888;
}

/* Link <a> items */
a, a:visited {
  color: #ddd;
}

/* Sets up the sections of the page to
equal the screen height */
section {
  margin-top: 0;
  padding-top: 40px;
  /* Puts <a> tags below nav */
  height: 100vh;
}


.row > * {
  display: inline;
}


/* Main content of the first screen */
.jumbotron {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  height: 250px;
  width: 800px;
  border: solid 2px #000;
  border-radius: 5%;
}

.jumbotron h1 {
  font-family: 'Satisfy', cursive;
  font-weight: 200;
}

#about-screen {
  background-color: #c4ffff;
}

#portfolio-screen {
  background-color: #a3ffff;
}



#contact-screen {
  background-color: #82ffff;
}
