
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Satisfy', cursive;*/
/*font-family: 'Handlee', cursive;*/


body {
  background-color: #e5ffff;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  min-width: 800px;
}

/* Global styles */
h1 {
  font-size: 50px;
  margin-top: .25em;
  margin-bottom: .1em;
}


.social-icon {
  height: 100px;
  width: 100px;
}
/* Nav bar - positioned at the top of the screen */
nav {
  background-color: #333;
  border-bottom: solid 5px #222;
  position: fixed;
  top: 0;
  left: 0;
  height: 35px;
  width: 100%;
}

/* Brand Icon */
nav .brand {
  font-size: 24px;
  padding-top: 5px;
  padding-left: 20px;
}

.nav-links {
  padding-top: 5px;
  padding-right: 20px;
  font-size: 20px;
  float: right;
  color: #888;
}

/* Link <a> items */
a, a:visited {
  color: #ddd;
  text-decoration-line: none;
  text-decoration-style: dashed;
}

.main {
  margin-top: 35px;
  margin-bottom: 0px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Sets up the sections of the page to
equal the screen height */
section {
  margin-top: 0;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  /* Puts <a> tags below nav */
  border-top: dashed 5px #000;
}

section:last-of-type {
  border-bottom: dashed 5px #000;
}

/* Main content of the first screen */
.jumbotron {
  text-align: center;
  background: rgba(255,255,255,.3);
  color: #282828;
  margin-left: 10px;
  margin-right: auto;
  margin-top: 25px;
  height: 220px;
  width: 500px;
  border: solid 2px #000;
  border-radius: 15px;
}

.jumbotron h1 {
  font-family: 'Satisfy', cursive;
  font-weight: 200;
}

#home-screen {
  height: 620px;
  padding-bottom: 0;
  background-image: url("common-resources/pelican-horizon.png");
  background-size: 850px;
  background-repeat: no-repeat;
}

#about-screen {
  background-color: #c4ffff;
}

#about-screen p:last-of-type {
  margin-bottom: 0;

}

#portfolio-screen {
  background-color: #a3ffff;
}

.portfolio-row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.project {
  display: inline-block;
}

#contact-screen {
  background-color: #82ffff;
}

.solicitation p:last-of-type {
  text-align: center;
}

.social {
  width: 535px;
  margin-left: auto;
  margin-right: auto;
}

.social-stream {
  display: inline-block;
  text-align: center;
  width: 100px;
  padding: 15px;
}

footer {
  text-align: center;
  font-size: small;
}
