body {
  background: #e5ffff;
}

.pure-menu-list {
  display: inline;
}

/* Sets up the sections of the page to
equal the screen height */
section, .page-block {
  padding-top: 5vh;
  /* Puts <a> tags below nav */
  height: 100vh;
}
